@import "../../utils/constants.scss";

#styledButton {
  color: $git-white;
  font-family: $akzidenz-grotesk;
  padding: 15px 40px 15px 40px;
  font-size: 1.3em;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: $size-small) {
  #styledButton {
    font-size: 1em;
  }
}
