@import "../../utils/constants.scss";

#styledButton {
  color: $git-white;
  font-family: $akzidenz-grotesk;
  padding: 10px 40px 10px 40px;
  font-size: 1.25em;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}
