@font-face {
  font-family: "akzidenzgrotesk-bold";
  src: url("/src/fonts/AkzidenzGrotesk-Bold.ttf");
}

@font-face {
  font-family: "akzidenzgrotesk-roman";
  src: url("/src/fonts/AkzidenzGrotesk-Roman.ttf");
  font-weight: 300;
}

* {
  font-family: "akzidenzgrotesk-roman";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "akzidenzgrotesk-bold";
}

.custom-font {
  font-family: "akzidenzgrotesk-roman";
}
.custom-font-bold {
  font-family: "akzidenzgrotesk-bold";
}

.t-50 {
  top: 50%;
}

.body-background {
  background-color: rgba(242, 242, 242, 1);
}

.h-500px {
  height: 500px;
}

.page-heading {
    --bg-opacity: 1;
    background-color: #805ad5;
    background-color: rgba(128, 90, 213, var(--bg-opacity));
    position: relative;
    z-index: 1;
    }


.skew-top:before {
    content:'';
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index:-1;
}

.skew-bottom:after {
    content:'';
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0;
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    overflow: visible;
    z-index: -1;
}

.skew-logo-bg {
    -moz-transform: skew(5deg, -5deg);
    -webkit-transform: skew(5deg, -5deg);
    -o-transform: skew(5deg, -5deg);
    -ms-transform: skew(5deg, -5deg);
    transform: skew(5deg, -5deg);
}

.unskew-logo {
    -moz-transform: skew(-5deg, 5deg);
    -webkit-transform: skew(-5deg, 5deg);
    -o-transform: skew(-5deg, 5deg);
    -ms-transform: skew(-5deg, 5deg);
    transform: skew(-5deg, 5deg);
}