@import "../../utils/constants.scss";

.container {
  max-width: 1200px;
  margin: auto;
}

// INSPIRE THE NEXT GENERATION IMAGE
#inspireImageLarge {
  width: 100%;
  display: block;
}

#inspireImageSmallContainer {
  display: flex;
  margin: auto;
}

#anchorLifeAsATeacherSmall {
  margin: auto;
}

#inspireImageLargeContainer {
  position: relative;
}

#anchorLifeAsATeacher {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media only screen and (max-width: $size-small) {
  #inspireImageLargeContainer {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  #inspireImageSmallContainer {
    display: none;
  }
}

// HOW I BECAME A TEACHER
#howIBecameATeacherContainer {
  background-color: $git-black;
}

#howIBecameATeacherText {
  color: $git-white;
}

#howIBecameATeacherAnchor {
  color: $git-white;
  text-decoration: none;
}
