@import "../../utils/constants.scss";

// VARIABLES
$border-width: 3px;
$large-heading-font-size: 2.5vw;
$large-heading-mobile-font-size: 2.8vw;

.container {
  max-width: $max-width;
  margin: auto;
}

p,
h3 {
  font-weight: bold;
  font-family: $akzidenz-grotesk;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.8;
}

@media only screen and (max-width: $size-medium) {
  p,
  h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: $size-small) {
  p {
    font-size: 1em;
  }
}

// INSPIRE THE NEXT GENERATION IMAGE
#inspireImageLarge {
  width: 100%;
  display: block;
}

#inspireImageSmallContainer {
  display: flex;
  margin: auto;
}

#anchorLifeAsATeacherSmall {
  margin: auto;
}

#inspireImageLargeContainer {
  position: relative;
  padding-bottom: $border-width;
}

#anchorLifeAsATeacher {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media only screen and (max-width: $size-small) {
  #inspireImageLargeContainer {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  #inspireImageSmallContainer {
    display: none;
  }
}

// HOW I BECAME A TEACHER
#howIBecameATeacherContainer {
  background-color: $git-black;
  display: flex;
}

#howIBecameATeacherVideoContainer {
  display: inline-block;
  height: 400px;
  width: 52%;
  padding-left: 40px;
  padding-top: 45px;
  padding-bottom: 45px;
  z-index: 1;
}

#howIBecameATeacherTextContainer {
  padding: 45px 40px 45px 40px;
  z-index: 0;
  position: relative;
  width: 35%;
}

#howIBecameATeacherHeadingContainer {
  left: -2px;
  position: absolute;
  font-size: $large-heading-font-size;
  top: 20px;
}

.howIBecameATeacherText {
  color: $git-white;
  font-family: $akzidenz-grotesk;
  font-weight: normal;
}

#howIBecameATeacherAnchor {
  text-decoration: none;
  position: absolute;
  bottom: 7px;
}

#theoText {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  line-height: 1.3em;
  padding-right: 25px;
}

@media only screen and (max-width: $size-medium) {
  #howIBecameATeacherTextContainer {
    padding-left: 10px;
  }

  #howIBecameATeacherHeadingContainer {
    left: -20px;
    padding-top: 10px;
  }

  #howIBecameATeacherVideoContainer {
    padding-left: 25px;
  }

  #theoText {
    top: 55%;
  }
}

// TEACHER IMAGES
.teacherContainer {
  position: relative;
  text-align: center;
}

.teacherText {
  width: 68%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $git-white;
}

@media only screen and (max-width: $size-medium) {
  .teacherText {
    width: 80%;
  }
}

@media only screen and (max-width: $size-small) {
  #simonTeacherImage,
  #abigailTeacherImage {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  #simonTeacherImageSmall,
  #abigailTeacherImageSmall {
    display: none;
  }
}

// SIMON TEACHER
#simonTeacherContainer {
  background: linear-gradient(to bottom, $git-black 50%, transparent 50%);
}

#simonTeacherImage,
#simonTeacherImageSmall {
  width: 100%;
  clip-path: polygon(50% 8%, 100% 0, 100% 100%, 50% 92%, 0 100%, 0 0);
}

// TEACHER TRAINING ADVISER
#teacherTrainingContainer {
  position: relative;
  overflow: hidden;
  height: 380px;
  width: 100%;
}

.teacherTrainingHeadingContainer {
  position: absolute;
  background-color: $git-purple;
  padding-left: 10%;
  left: -20px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) rotate(5deg);
  font-size: $large-heading-font-size;
  right: 110px;
}

#teacherTrainingAdviserImage {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
}

@media screen and (max-width: $size-medium) {
  #teacherTrainingContainer {
    height: 300px;
  }
}

@media screen and (max-width: $size-small) {
  #teacherTrainingContainer {
    height: 300px;
  }

  #teacherTrainingHeadingContainerLarge {
    display: none;
  }

  #teacherTrainingHeadingContainerSmall {
    font-size: $large-heading-mobile-font-size;
    padding-left: 15%;
  }
}

@media only screen and (min-width: $size-small) {
  #teacherTrainingHeadingContainerSmall {
    display: none;
  }
}

// SIGN UP FOR AN ADVISER
#signUpAdviserContainer {
  background-color: $git-yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

#signUpAdviserText {
  color: $git-slategrey;
  padding: 25px 0px 25px 45px;
}

#signUpAdviserButtonContainer {
  margin-left: auto;
  margin-right: 0px;
  padding: 25px 45px;
}

@media only screen and (max-width: $size-medium) {
  #signUpAdviserContainer {
    display: flex;
    flex-direction: column;
  }

  #signUpAdviserText {
    color: black;
    padding: 25px 25px 0;
    display: inline-block;
    text-align: justify;
    text-align-last: left;
  }

  #signUpAdviserButtonContainer {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0 25px;
  }
}

// ABIGAIL TEACHER AND FIND EVENTS
#abigailAndFindEventsContainer {
  background: linear-gradient(to bottom, $git-yellow 50%, transparent 50%);
  position: relative;
  overflow: hidden;
}

// ABIGAIL TEACHER
#abigailTeacherContainer {
  position: relative;
}

#abigailTeacherBorder {
  background-color: $git-white;
  clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
}

#abigailTeacherImage,
#abigailTeacherImageSmall {
  clip-path: polygon(50% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative;
  // shifts the image down by the border height, cutting off the bottom of the image
  // allows a top border on an element with clip path
  top: $border-width;
  width: 100%;
}

// FIND AN EVENT NEAR YOU
#findAnEventNearYouBorder {
  position: absolute;
  background-color: $git-white;
  height: 18%;
  left: -10px;
  right: -10px;
  top: 55%;
  transform: translateY(-50%) rotate(-3deg);
  z-index: 1;
}

#findAnEventNearYouBackground {
  background-color: $git-pink;
  width: 100%;
  position: absolute;
  height: calc(100% - #{($border-width * 2)});
  top: 50%;
  transform: translateY(-50%);
  font-size: $large-heading-font-size;
}

// AERIAL MAP
#mapImageContainer {
  position: relative;
}

#manchesterMapImage {
  width: 100%;
}

#findEventsButton {
  position: absolute;
  bottom: 50px;
  right: 40px;
}

#comeToATeachingEventText {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 75%;
  color: $git-white;
  text-align: justify;
  text-align-last: left;
}

@media screen and (min-width: $max-width) {
  // Must be here becuase of CSS precedence
  .teacherTrainingHeadingContainer,
  #howIBecameATeacherHeadingContainer,
  #findAnEventNearYouBackground {
    font-size: 2em;
  }
}
