@import "../../utils/constants.scss";

.container {
  max-width: $max-width;
  margin: auto;
}

// INSPIRE THE NEXT GENERATION IMAGE
#inspireImageLarge {
  width: 100%;
  display: block;
}

#inspireImageSmallContainer {
  display: flex;
  margin: auto;
}

#anchorLifeAsATeacherSmall {
  margin: auto;
}

#inspireImageLargeContainer {
  position: relative;
  padding-bottom: 3px;
}

#anchorLifeAsATeacher {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media only screen and (max-width: $size-small) {
  #inspireImageLargeContainer {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  #inspireImageSmallContainer {
    display: none;
  }
}

// HOW I BECAME A TEACHER
#howIBecameATeacherContainer {
  background-color: $git-black;
  display: flex;
}

#howIBecameATeacherVideoContainer {
  display: inline-block;
  height: 400px;
  width: 65%;
  padding-left: 40px;
  padding-top: 45px;
  padding-bottom: 45px;
}

#howIBecameATeacherTextContainer {
  border: red solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.howIBecameATeacherText {
  color: $git-white;
  font-family: $akzidenz-grotesk;
  font-weight: normal;
}

#howIBecameATeacherAnchor {
  text-decoration: none;
}

//TEACHER IMAGES

.teacherContainer {
  position: relative;
  text-align: center;
}

.teacherText {
  width: 68%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $git-white;
  font-family: $akzidenz-grotesk;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.8;
}

@media only screen and (max-width: $size-medium) {
  .teacherText {
    font-size: 1em;
  }
}

@media only screen and (max-width: $size-small) {
  #simonTeacherImage,
  #abigailTeacherImage {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  #simonTeacherImageSmall,
  #abigailTeacherImageSmall {
    display: none;
  }
}

// SIMON TEACHER

#simonTeacherContainer {
  background: linear-gradient(to bottom, $git-black 50%, transparent 50%);
}

#simonTeacherImage,
#simonTeacherImageSmall {
  width: 100%;
  clip-path: polygon(50% 8%, 100% 0, 100% 100%, 50% 92%, 0 100%, 0 0);
}

//ABIGAIL TEACHER

#abigailTeacherContainer {
  background: linear-gradient(to bottom, $git-yellow 50%, transparent 50%);
}

#abigailTeacherImage,
#abigailTeacherImageSmall {
  width: 100%;
  clip-path: polygon(50% 8%, 100% 0, 100% 85%, 0 100%, 0 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#abigailTeacherBorder {
  background-color: $git-white;
  height: 495px;
  position: relative;

  clip-path: polygon(50% 8%, 100% 0, 100% 85%, 0 100%, 0 0);
}

//SIGN UP FOR AN ADVISER

#signUpAdviserContainer {
  background-color: $git-yellow;
  display: flex;
}

#signUpAdviserText {
  font-size: 1.5em;
  font-family: $akzidenz-grotesk;
  color: $git-slategrey;
  padding: 60px 50px 60px 50px;
}

#signUpAdviserButtonContainer {
  padding-top: 60px;
}

//TEACHER TRAINING ADVISER

#teacherTrainingContainer {
  display: flex;
  overflow: hidden;
}

#teacherTrainingHeadingContainer {
  background-color: $git-purple;
  font-size: large;
  transform: rotate(5deg);
  //width: 3000px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
