@font-face {
    font-family: 'akzidenzgrotesk-bold';
    src: url('/src/fonts/akzidenzgrotesk-bold/AkzidenzGrotesk-Bold.ttf');

}

@font-face {
    font-family: 'akzidenzgrotesk-roman';
    src: url('/src/fonts/akzidenzgrotesk-roman/AkzidenzGrotesk-Roman.ttf');
    font-weight: 300;
}

* {
    font-family: 'akzidenzgrotesk-roman';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'akzidenzgrotesk-bold';
}

.custom-font {
   font-family: 'akzidenzgrotesk-roman';
}
.custom-font-bold {
    font-family: 'akzidenzgrotesk-bold';
}