@import "../utils/constants.scss";

.container {
  max-width: 1200px;
  margin: auto;
}

// INSPIRE THE NEXT GENERATION IMAGE
.inspireImage {
  width: 100%;
  display: block;
}

.inspireImageSmall {
  display: block;
}

#inspireImageLargeContainer {
  position: relative;
}

#anchorLifeAsATeacher {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 10%;
}

@media only screen and (max-width: $size-small) {
  .inspireImage,
  #inspireImageLargeContainer,
  #anchorLifeAsATeacher {
    display: none;
  }
}

@media only screen and (min-width: $size-small) {
  .inspireImageSmall {
    display: none;
  }
}

// FIND EVENTS
.findEventsButton {
  background-color: black;
}
