@import "../../utils/constants.scss";

$vert-spacing: 9px;
$horiz-spacing: 15px;

#containerHeading {
  display: inline-flex;
}

#anchorHeading {
  text-decoration: none;
}

#heading {
  font-family: $akzidenz-grotesk;
  color: $git-white;
  white-space: nowrap;
  overflow: hidden;
}

#textContainerHeading {
  padding: $vert-spacing $horiz-spacing $vert-spacing $horiz-spacing;
}

.textHeading {
  display: inline-block;
  border-bottom: 2px solid $git-white;
  margin-bottom: $vert-spacing;
}
