// COLOURS
$git-black: #050708; // black
$git-white: #ffffff; // white
$git-pink: #d44593; // pink
$git-purple: #7e58a1; // purple
$git-blue: #0d78bb; // blue
$git-yellow: #eeab1d; // yellow
$git-slategrey: #403e3e; // slate grey

// DIMENSIONS
$size-extra-small: 400px; // small mobile screen portrait
$size-small: 640px; // mobile screen portrait
$size-medium: 900px; // medium sizes devices
$max-width: 1200px; // maximum width for desktop

// FONTS
$akzidenz-grotesk: "akzidenz-grotesk", sans-serif;

@font-face {
  font-family: "akzidenz-grotesk";
  src: url ("../fonts/akzidnezgrotesk-roman/AkzidenzGrotesk-Roman.eot?")
      format("eot"),
    url ("../fonts/akzidnezgrotesk-roman/AkzidenzGrotesk-Roman.woff")
      format("woff"),
    url ("../fonts/akzidnezgrotesk-roman/AkzidenzGrotesk-Roman.ttf")
      format("truetype"),
    url ("../fonts/akzidnezgrotesk-roman/AkzidenzGrotesk-Roman.svg#Free3of9")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akzidenz-grotesk";
  src: url ("../fonts/akzidnezgrotesk-bold/AkzidenzGrotesk-Bold.eot?")
      format("eot"),
    url ("../fonts/akzidnezgrotesk-bold/AkzidenzGrotesk-Bold.woff")
      format("woff"),
    url ("../fonts/akzidnezgrotesk-bold/AkzidenzGrotesk-Bold.ttf")
      format("truetype"),
    url ("../fonts/akzidnezgrotesk-bold/AkzidenzGrotesk-Bold.svg#Free3of9")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

// EXPORTS

/*
 * This enables us import the scss file in JavaScript. 
 * scss constants can be passed to components through props
 * and used in inline styling
 */

:export {
  gitPurple: $git-purple;
  gitPink: $git-pink;
  gitBlue: $git-blue;
}
